<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-title>
      <strong>Publicaciones</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fabe-button color="primary" [routerLink]="['/publicacion']">
    <ion-icon 
    icon="add-circle" 
    slot="icon-only" 
    style="font-size: 50px;" 
    color="primary"
    >
    </ion-icon>
  </ion-fabe-button>
</ion-fab>

<ion-content [fullscreen]="true">
 <app-lista-avisos  [avisos]="avisos"/>
</ion-content>